/*Use for normal text which didn't define*/
body         
{
 margin: 0px 0px;
 background-color: #f4f4f4; 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 11px; 
 color: #6C8596;
}

td           
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	color: #6C8596; 
	vertical-align: top; 
}

table 			 {width: 100%;}
a:link       { color: #2F9DEB; text-decoration: none;}/*Use for order links which are undefined*/
a:visited    { color: #2F9DEB; text-decoration: none;}
a:active     { color: #2F9DEB; text-decoration: none;}
a:hover      { color: #86C9F8; text-decoration: none;}
ul 
{ 
	margin: 0;
}

li 
{ 
	margin: 0;
	padding-top: 5px;
}

textarea    
{ }
textbox
{ 
}
checkbox 
{ }
input[type="submit"]
{
	background-color:#08568C;
	border: 0px;
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 2px;
}
select 
{ }

/*item use for News module*/
.item {margin-bottom: 8px;}
.itemHead 
{
	padding: 4px; 
	border-left: 8px solid #FAAF56; 
	border-bottom: 1px solid #D3D3D3; 
	background-color: #F5F6E8; 
	color: #6C8596; 
	font-weight: bold;
}
.itemInfo 
{
	padding: 4px; 
	text-align: right; 
	color: #6C8596;
}
.itemTitle a 
{
	text-decoration: none;
	font-weight: bold;
	padding: 4px 10px;
}
.itemPoster {font-size: 90%;}
.itemPostDate {font-size: 90%;}
.itemStats {font-size: 90%;}
.itemBody {padding: 8px;}
.itemText {line-height: 1.5em; margin: 1px;}
.itemFoot {text-align: right; padding: 4px; color: #6C8596; background-color:#F5F6E8;}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}

/*Use for header of table*/
th {background-color: #B2C3CE; color: #FFFFFF; padding-left: 5px; font-size: 11px;}

td#leftcolumn 
{
	width: 206px; 
	background-color: #0066ca; 
	border-right: 1px solid #034F85; 
} 
td#leftcolumn th {}
td#leftcolumn .blockTitle 
{
	font-family: Tahoma;
	font-size: 11px; 
	color: #FFFFFF; 
	font-weight: bold;
	text-transform:uppercase;
	background-image: url('images/lc-bgtitleblue.gif');
	height:16px;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 7px;
}
td#leftcolumn .blockContent 
{
	font-family: Tahoma;
	font-size: 11px; 
	color: #FFFFFF;
	font-weight:bold;
	text-transform:capitalize;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color:#0066ca;
}
#leftcolumn a:link
{
	color:#FFFFFF;
	text-decoration: none;
}
#leftcolumn a:visited
{
	color:#FFFFFF;
	text-decoration: none;
}
#leftcolumn a:hover
{
	color:#FFFFFF;
	text-decoration: underline;
}
td#mainmenu a
{	
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	background-image: url('images/lc-bullet.gif');
	background-repeat: no-repeat;
	background-position: 3px 8px;
	padding-left: 20px;
}
td#mainmenu a:hover 
{
	color: #FFFFFF;
	text-decoration: underline;
	background-image: url('images/lc-bullet.gif');
	background-repeat: no-repeat;
	background-position: 3px 8px;
	padding-left: 20px;
}
         
td#mainmenu a.menuTop 
{
	padding-left: 20px;
}
td#mainmenu a.menuMain 
{
	padding-left: 20px;
}
td#mainmenu a.menuSub:link
{
	padding-left: 35px;
	color:#E0AE5B;
	text-decoration: none;
	background-position: 20px 8px;
}
td#mainmenu a.menuSub:visited
{
	padding-left: 35px;
	color:#E0AE5B;
	text-decoration: none;
	background-position: 20px 8px;
}
td#mainmenu a.menuSub:hover
{
	padding-left: 35px;
	color:#E0AE5B;
	text-decoration: underline;
	background-position: 20px 8px;
}

td#usermenu a 
{
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	background-image: url('images/lc-bullet.gif');
	background-repeat: no-repeat;
	background-position: 3px 8px;
	padding-left: 20px;
}
td#usermenu a:hover 
{
	color: #FFFFFF;
	text-decoration: underline;
	background-image: url('images/lc-bullet.gif');
	background-repeat: no-repeat;
	background-position: 3px 8px;
	padding-left: 20px;
}
td#usermenu a.menuTop {}
td#usermenu a.highlight {color: #6C8596; background-color: #7DB3D8;}
td#usermenu a:hover.highlight {color: #FFFFFF; background-color: #CBD7E0;}


td#centercolumn {padding: 0px; background-color: #FFFFFF;}

td#centercolumn th {background-color:#7DB3D8;}
td#centerCcolumn {padding: 0px;}
td#centerCcolumn .blockTitle {font-weight: bold; padding: 4px; border-left: 8px solid #FAAF56; border-bottom: 1px solid #D3D3D3; border-right: 1px solid #D3D3D3; background-color: #F5F6E8; color: #6C8596;}
td#centerCcolumn .blockContent {padding: 4px; margin-bottom: 8px; background-color: #FFFFFF; line-height: 120%;}

td#centerLcolumn {width: 50%; padding-right: 4px;}
td#centerLcolumn .blockTitle {font-weight: bold; padding: 4px; border-left: 8px solid #FAAF56; border-bottom: 1px solid #D3D3D3; border-right: 1px solid #D3D3D3; background-color: #F5F6E8; color: #6C8596;}
td#centerLcolumn .blockContent {padding: 4px; margin-bottom: 8px; background-color: #FFFFFF; line-height: 120%}

td#centerRcolumn {width: 50%; padding-left: 4px;}
td#centerRcolumn .blockTitle {font-weight: bold; padding: 4px; border-left: 8px solid #FAAF56; border-bottom: 1px solid #D3D3D3; border-right: 1px solid #D3D3D3; background-color: #F5F6E8; color: #6C8596;}
td#centerRcolumn .blockContent {padding: 4px;background-color: #FFFFFF; margin-bottom: 8px}

div#content {text-align: left;}
div#content .newbb_level1 { background-color:#7DB3D8;}
div#content .newbb_level2 { background-color:#7DB3D8;}
div#content .newbb_folder { background-color:#7DB3D8;}
div#content .newbb_submenu { background-color:#7DB3D8; padding-right: 5px; padding-top:4px;}

td#rightcolumn 
{
	width: 200px; 
	background-color: #0066ca; 
	border-left: 1px solid #034F85; 
}
td#rightcolumn th {background-color:#7DB3D8;}
td#rightcolumn .blockTitle 
{
	font-family: Tahoma;
	font-size: 11px; 
	color: #FFFFFF; 
	font-weight: bold;
	text-transform:uppercase;
	background-image: url('images/lc-bgtitleblue.gif');
	height:16px;
	background-repeat: no-repeat;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 7px;
}
td#rightcolumn .blockContent 
{
	font-family: Tahoma;
	font-size: 11px; 
	color: #FFFFFF;
	font-weight:bold;
	text-transform:capitalize;
	padding-left: 5px;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color:#0066ca;
}

/*Use for forum (newbb module)*/
.outer {border: 1px solid #BECBD5; background-color: #FFFFFF;}
.head {background-color: #B5D6F1; color: #FFFFFF; padding: 5px; font-weight: bold} 

.even {background-color: #ffffff; padding: 3px;}
.odd {background-color: #ffffff; padding: 5px;}

.foot {background-color: #B5D6F1; padding: 5px; font-weight: bold; color:#FFFFFF;} 
tr.even td {background-color: #FFFFFF; padding: 4px;}
tr.odd td {background-color: #FFFFFF; padding: 4px}  

div.errorMsg {background-color: #EEEEEE; text-align: center; border-top: 1px solid #DDDDE0; border-left: 1px solid #DDDDE0; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg {background-color: #EEEEEE; color: #08568C; text-align: center; border-top: 1px solid #DDDDE0; border-left: 1px solid #DDDDE0; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg {background-color : #EEEEEE; color: #08568C; text-align: center; border-top: 1px solid #C0C0C0; border-left: 1px solid #DDDDE0; font-weight: bold; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; padding: 10px}

div.xoopsCode {font-size: 90%; background-color: #FFFFFF; border: 1px dashed #08568C; padding: 4px;}
div.xoopsQuote {font-size: 90%; background-color: #FFFFFF; border: 1px dashed #08568C; padding: 4px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #000000; font-weight: bold; border: 1px solid #870202; background-color: #FFFFFF; margin: 2px; padding: 2px}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; font-weight: bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight: bold;}
.comUserRankImg {border: 0px none;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller;}
.comDateCaption {font-weight: bold; font-style: normal;}

div.xoopsCode pre {margin: 0px;}
div.xoopsQuote blockquote {margin: 0px;}

/***********MEI DEFINES******************/
#maintable {width: 850px;}

#maintable .hd-bgmenu
{
	background-image: url('images/hd-bgmenu.gif');
	background-repeat: repeat-x;
	height: 30px;
}
/*Use for header*/
#header .hd-text
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 10px;
	padding-left: 30px;
}

#header a.hd-link:link, a.hd-link:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
#header a.hd-link:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

#header a.hd-link:hover
{
	color:#A2D6FA;
	text-decoration: underline;
}
/*Use for login form*/
#header_login .hd-signin-bg
{
	background-image: url('images/hd-bglogin.jpg');
	background-repeat: repeat-x;
	height:	149px;
	width: 1px;
}
#header_login .hd-text
{
	font-family: Verdana;
	font-size: 10px;
	color: #CAAA3D;
}
#header_login .hd-loginpadding
{
	padding-top: 10px;
	padding-left: 20px;
}
#header_login .hd-usernamepadding
{
	padding-top: 15px;
	padding-left: 10px;
}
#header_login .hd-textboxpadding
{
	padding-top: 10px;
	padding-left: 5px;
}
#header_login .hd-textbox
{
	font-family: Verdana;
	font-size: 10px;
}
#header_login .hd-btnsubmit
{
	background-image: url('images/hd-btnsubmit.gif');
	background-repeat:no-repeat;
	border: 0px;
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	padding-top: 2px;
}
#header_login .hd-btnpadding
{
	padding-right: 10px;
	padding-top: 10px;
}
#header_login a.hd-link2:link, a.hd-link2:visited
{
	color:#08568C;
	text-decoration: underline;
	padding-left: 20px;
}
#header_login a.hd-link2:hover
{
	color:#60B8F6;
	text-decoration: underline;
	padding-left: 20px;
}
/*Use for footer*/
#footer .ft-text
{
	font-family: Tahoma;
	font-size: 11px; 
	color:#FFFFFF;
	font-weight:bold;
	background-color:#6F92AB;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 15px;
	height: 30px;
}
#footer a:link
{
	color:#FFFFFF;
	text-decoration: none;
}
#footer a:visited
{
	color:#FFFFFF;
	text-decoration: none;
}
#footer a:hover
{
	color:#BFCDD7;
	text-decoration: underline;
}
.bg-footer
{
	background-image:url('images/footer.gif');
	background-repeat:repeat-x;		
}